.checkout-container {
    background-color:#F2F2F2;
    color:white;
    position:absolute;
    right:2rem;
    bottom:14.3rem;
    width:20%;
    border:1px solid black;
    min-height:50%;
}

.checkout-container p {
    text-align: center;
    color:black;
}

.checkout-items {
    height: 40vh;
    overflow-y: scroll;
}

.checkout-proceed {
    background-color: black;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
}

.checkout-proceed a {
    text-align: center;
    margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
    .checkout-container {
        background-color:#F2F2F2;
        color:white;
        position:absolute;
        right:0.5rem;
        bottom:7rem;
        width:95%;
        border:1px solid black;
        min-height:50%;
        z-index: 1000;
    }

    .checkout-proceed {
        background-color: black;
        color: white;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 92%;
    }
    
    .checkout-proceed a {
        text-align: center;
    
    }
}
