.hero-container {
    height: 100vh;
    width: 100%;
}

.hero-container img {
    height:100%;
    width: 100%;
}

.hero-info {
    margin-left: 5rem;
    position: relative;
    bottom: 20rem;
    width:40%;
    z-index: 1;
}

.hero-info h1 {
    text-transform: uppercase;
}

.hero-info p {
    font-size: 20px;
}

.products-button {
    padding:1rem 2rem 1rem 2rem;
    background-color: black;
    color: white;
    border: none;
    margin-right: 2rem;
    font-family: 'Poppins', sans-serif;
}

.repairs-button {
    padding:0.9rem 1.3rem 0.9rem 1.3rem;
    background-color: transparent;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 600px) {
    .hero-container img {
        width: 100%;
        height:auto;
    }
    
    .hero-container {
        height: 40vh;
        width: auto;
    }
    .hero-info {
        margin-left: 1rem;
        position: relative;
        bottom: 12.9rem;
        width:40%;
        z-index: 1;
    }

    .hero-info h1 {
        text-transform: uppercase;
        font-size: 15px;
    }
    
    .hero-info p {
        font-size: 10px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .products-button {
        padding:0.1rem 0.8rem 0.1rem 0.8rem;
        background-color: black;
        color: white;
        border: none;
        margin-right: 2rem;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }
    
    .repairs-button {
        padding:0 1rem 0rem 1rem;
        background-color: transparent;
        border: 1px solid black;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }
}