.hero-container {
    height: auto;
    width: 100%;
}

.hero-container img {
    height:100%;
    width: 100%;
}



@media only screen and (max-width: 600px) {
    .hero-container img {
        width: 100%;
        height:auto;
    }
    
    .hero-container {
        height: auto;
        width: auto;
    }
}